name: searchify
description: A reusable autocomplete search widget for Flutter.
version: 0.1.0
homepage: https://github.com/sasansafari/searchify
environment:
  sdk: '>=2.17.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
